[submodule "Deamer/extern/googletest"]
	path = Deamer/extern/googletest
	url = https://github.com/google/googletest.git
[submodule "DLDL"]
	path = DLDL
	url = https://github.com/Deruago/DLDL
[submodule "DST"]
	path = DST
	url = https://github.com/Deruago/DeamerStringTemplate
[submodule "DeamerExternal"]
	path = DeamerExternal
	url = https://github.com/Deruago/DeamerExternal
[submodule "DeamerAlgorithm"]
	path = DeamerAlgorithm
	url = https://github.com/Deruago/DeamerAlgorithm
[submodule "DREGX"]
	path = DREGX
	url = https://github.com/Deruago/DREGX
